


footer {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
}



.content-display > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}



.content-display p {
    font-size: 2rem;
    line-height: 4rem;
}



.admin-logo {
    width: 25px;
}



.adminSection input {
    width: 100%;
}



iframe {
    margin: 2rem auto;
}



div > a > img {
    width: 100%;
}
// When the screen is under 992px wide (collapsed phone view), the facebook link is smaller
@media only screen and (max-width: 992px) {
    div > a > img {
        width: 50%;
    }
}
