
<footer class="row content-display">

    <div class="col-md-1" style="display: flex; justify-content: flex-end; flex-direction: column; text-align: left;">
        <img *ngIf="!authService.isAdmin" class="admin-logo" src="/assets/SUMLogo.png" alt="Administrator Login" title="Administrator Login" (click)="authService.googleSignin()">
        <img *ngIf="authService.isAdmin" class="admin-logo" src="/assets/SUMLogo.png" alt="Administrator Logout" title="Administrator Logout" (click)="authService.logout()">
    </div>

    <div class="col-md-2">
        <a [href]="facebookLink" target="_blank" title="Visit our Facebook page">
            <img src="/assets/facebook-logo.png" alt="Facebook page">
        </a>
    </div>

    <div class="col-md-2">
        <p id="phoneNumberParagraph"></p>
    </div>

    <div class="col-md-3">
        <p id="addressParagraph"></p>
    </div>

    <div class="col-md-4">
        <iframe *ngIf="mapLink" width="65%" height="250" frameborder="0" [src]="mapLink" allowfullscreen></iframe>
    </div>

</footer>









<div *ngIf="authService.isAdmin" class="row adminSection">

    <div class="col-md-3">
        <div class="textUpdateForm">
            <label for="mapLinkInput">Map URL:</label>
            <input type="text" placeholder="Map Link" id="mapLinkInput" [(ngModel)]="mapLinkDisplayed">
            <br>
            <br>
            <button class="btn btn-md updateTextButton" (click)="saveMapLink()">Update</button>
            <!-- After successful update, show confirmation -->
            <span class="alert-success updated" *ngIf="mapLinkUpdated">
                <i class="fa fa-check-circle fa-1x" aria-hidden="true" style="margin-right: 0.5rem;"></i><strong>Updated</strong>
            </span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="textUpdateForm">
            <texteditor [elementId]="'phoneNumberParagraphEditor'"></texteditor>
            <br>
            <button class="btn btn-md updateTextButton" (click)="savePhoneNumberParagraph()">Update</button>
            <!-- After successful update, show confirmation -->
            <span class="alert-success updated" *ngIf="phoneNumberParagraphUpdated">
                <i class="fa fa-check-circle fa-1x" aria-hidden="true" style="margin-right: 0.5rem;"></i><strong>Updated</strong>
            </span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="textUpdateForm">
            <texteditor [elementId]="'addressParagraphEditor'"></texteditor>
            <br>
            <button class="btn btn-md updateTextButton" (click)="saveAddressParagraph()">Update</button>
            <!-- After successful update, show confirmation -->
            <span class="alert-success updated" *ngIf="addressParagraphUpdated">
                <i class="fa fa-check-circle fa-1x" aria-hidden="true" style="margin-right: 0.5rem;"></i><strong>Updated</strong>
            </span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="textUpdateForm">
            <label for="facebookLinkInput">Facebook URL:</label>
            <input type="text" placeholder="facebook Link" id="facebookLinkInput" [(ngModel)]="facebookLinkDisplayed">
            <br>
            <br>
            <button class="btn btn-md updateTextButton" (click)="saveFacebookLink()">Update</button>
            <!-- After successful update, show confirmation -->
            <span class="alert-success updated" *ngIf="facebookLinkUpdated">
                <i class="fa fa-check-circle fa-1x" aria-hidden="true" style="margin-right: 0.5rem;"></i><strong>Updated</strong>
            </span>
        </div>
    </div>

</div>