



.content-display p {
    width: 30%;
    display: block;
    margin: auto;
    border: 4px outset rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    font-size: 2rem;
    line-height: 4rem;
}



.eachSizeSection {
    margin-bottom: 5rem;
}

.eachSizeSection h3 {
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    text-shadow: #FFF 0 0 5px;
}

.eachSizeSection img {
    max-width: 100%;
    display: block;
    margin: auto;
}
