


.content-display > div {
    margin: 0 auto;
}

.content-display p {
    border: 4px outset rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5rem;
    padding: 2rem;
    font-size: 2rem;
    line-height: 4rem;
}

.content-display label {
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: #FFF 0 0 5px;
}

.content-display td {
    width: 50% !important;
    background-color: red !important;
}

.content-display button {
    box-shadow: #FFF 0 0 5px;
    margin-bottom: 5rem;
}



// When the screen is under 992px wide (collapsed phone view), use less padding everywhere
@media only screen and (max-width: 992px) {

    .content-display p {
        width: 97.5%;
        padding: 1rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

}


