body {
    background-size: cover !important;
}

p {
    margin: 0;
}


.btn {
    background-color: #303F9F;
    border: 2px solid #303F9F;
    color: #ECEDF6;
}
.btn:hover, .btn:active, .btn:focus {
    background-color: #1F2966 !important;
    color: #ECEDF6 !important;
    border: 2px solid #4C64FF !important;
}



// Every page's header
h1 {
    text-align: center;
    margin: 3rem auto;
    text-shadow: #FFF 0 0 7.5px;
    font-size: 4rem;
}



.adminSection {
    margin: 5rem 0;
}



/* Admin view, each paragraph update form */
.textUpdateForm {
    padding: 1rem;
    border: 4px outset rgba(255, 255, 255, 0.75);
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

.mce-tinymce.mce-container.mce-panel {
    max-width: 100%;
}
.mce-tinymce.mce-container.mce-panel iframe {
    max-width: 100%;
}

/* Admin view, each image upload form */
.imageUploadingForm {
    padding: 1rem;
    border: 4px outset rgba(255, 255, 255, 0.75);
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Indent form fields in the admin's image upload form */
.imageUploadingForm img,
.imageUploadingForm input,
.imageUploadingForm p > em {
    margin-left: 5rem;
}

/* Used to tell admin successful text content (paragraph) update */
.alert-success.updated {
    margin: 1rem;
    margin-top: -1rem;
    padding: 0.5rem 1rem;
    border: 2px solid darkgreen;
    border-radius: 0.5rem;
}

/* When an error occurs updating/uploading */
.alert-error {
    margin: 1rem;
    margin-top: -1rem;
    padding: 0.5rem 1rem;
    border: 2px solid darkred;
    border-radius: 0.5rem;
    color: darkred;
    background-color: rgba(255, 0, 0, 0.226);
}